*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 5%;
    height: 5px;
	flex-wrap: wrap;
}
.header a{
	color: #880e4f;
	text-decoration: none;
	font-size: 110%;
	font-weight: bold;
}
.header ul{
	margin-left: 35%;
}
.header li{
	float: left;
	display: inline;
	padding: 0 17px 0 17px;
}
.header li:hover{
	transition: 3s;
	background-color: gray;
	opacity: 0.9;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.header #divH1{
	height: 40px;
	width: 50px;
	float: left;
}
.header nav{
	float:right;
	margin-top: 20px;
	margin-top: 6%; 
	margin-right: 7%;
}
.nav{
	width: 100%;
	height: 25px;
	margin-top: 5px;
}
/*----------------SLIDER-----------------*/
#borderSlider{
	flex-direction: row;
	width: 80%;
    margin: 0 auto;
    margin-top: 32px;
	margin-bottom: 16px;
	flex-wrap: wrap;
}
.slider{
    margin: 33px 0;
    border: 2px solid #880e4f;;
    border-radius: 10px;
    border-bottom: #880e4f;;
    box-shadow: 1px 2px 1px 1px #880e4f;;
}
.slider .slideShow{
    width: 95%;
    height: 353px;
    background-color: white;
    margin: 0 auto;
}

.slider .slideShow img{
	margin-top: 5px;
    height: 354px;
	width: 100%;
	border-radius: 15px;
}
.slider .mySlides{
    display: none;
} 
.slider .pointers{
    background: white;
    width: 140px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: -15px;
    margin-top: -10px; 
    text-align: center;

}
.slider .pointers .dot{
    cursor: pointer;
    height: 15px;
    margin: 0 2px;
    width: 15px;
    background-color:#880e4f;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 1px 2px 2px 2px;
    transition: 2s;

}


/*--------meeting-----*/
#meeting img{
	width: 1200px;
	height: 200px;
	position: center;
	margin-left: 200px;
	
}
#meeting h2{
	color: #880e4f;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
	'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#meeting p{
	color: #880e4f;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
}

/*--------Description.-------*/
#foto{
    width: 100px;
    height: 100px;
    position: center;
	left: 35%;
	border-radius: 100px;
}
#Description{
	width: 100%;
	min-height: 200px;
	text-align: center;
	color: #880e4f;
}
#Description section {
	display: inline-block;
	flex-direction: column;
	justify-content:space-around;
	flex-wrap: wrap;
	width: 20%;
	padding: 5px 5%;
	margin-top: 15px;
	border: 8px double #880e4f;
	border-radius: 200px;
	background-color: #a0a0a0;
	margin-left: 30px;
}
#Description a{
	color: #880e4f;
	text-decoration: none;
	transition: 2s;
}
#Description a:hover {
	color: black;
}
#Description p{
	color: #880e4f;
	text-align: center;
	font-family:times, 
}

/* ---------FOOTERI I PAREEE-------- */
#mainfooter {
	width: 100%;
	height: 250px;
}
#mainfooter section {
	display: inline-block;
	flex-direction: column;
	justify-content:space-around;
	flex-wrap: nowrap;
}
#footerpart1 {
	width: 33%;
	margin-left: 20%;
}
#footerpart1 img {
	text-align: center;
	width: 70%;
}
#footerpart2 {
	width: 33%;
}
#footerpart2 img {
	text-align: center;
	width: 35%;
}
#h3F {
	margin-top: 2%;
	text-align: center;
	color: #880e4f;
}
#webpagephotoF {
	width: 100%;
	height: 120px;
	position: left;
	margin-left: 5%;
}
#wbaboutF {
	width: 100%;
	height: 120px;
	margin-left: 2%;
	text-align: center;
}

#socialmediaF {
	width: 75%;
	margin-left: 27.5%;
}

/* --------FOOTERI------------- */

#footer {
	width: 100%;
	height: 40px;

}
#footer h2{
	text-align: center;
	color: #880e4f;
}
#footer p {
	text-align: center;
	font-weight: bold;
	font-size: 100%;
}
/*----Fundi----*/
#lastFooter {
	width: 100%;
	height: 40px;
}
#lastFooter p {
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	color:#880e4f;
}
